#food-container {
  padding: 30px 60px;
}
.card {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col .card-body {
  padding: 20px 30px;
}
.col img {
  height: 300px;
  border-radius: 10px;
}
.card-footer {
  border: none;
  background-color: white;
}

.card-footer button {
  border: none;
  padding: 10px 50px;
  margin-left: 100px;
  border-radius: 20px;
  background-color: chocolate;
  color: white;
  margin-bottom: 20px;
}
